@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.flex-container .block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.flex-container .block-container #green,
.flex-container .block-container #orange,
.flex-container .block-container #blue {
    height: 100%;
}

.flex-container .block-container #orange {
    width: calc(129px * 2);
}
